<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bankcards/css/index.css' %}">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <table>
        <tr>
            <th>Номер карты</th>
            <th>Потраченая сумма</th>
            <th>Дата использования</th>
        </tr>
        {% for i in card.historycard_set.all%}
        <tr>
            <td>{{i.Card.Numbers}}</td>
            <td>{{i.Summ}}</td>
            <td>{{i.Use_date}}</td>
        </tr>
        {%endfor %}
    </table>

</body>
</html>